@import '../../index.scss';

.about {
    padding-top: 100px;

    &__inner {
        margin-left: 200px;
    }

    &__content {
        color: $whiteColor;
        margin-top: 40px;
    }

    &__content-title {
        font-size: 48px;
        font-weight: 300;
        line-height: 60px;
        max-width: 630px;
        margin-bottom: 33px;
    }

    &__content-text {
        line-height: 30px;
        max-width: 610px;
        color: #999;
        font-size: 16px;
        margin-top: 30px;
    }

}

@media (max-width:900px) {
    .introduce {
        &__projects-btn-wrapper {
            margin-left: 0;
        }
    }
}

@media (max-width:650px) {
    .introduce {
        &__greetings-text {
            font-size: 48px;
            line-height: 52px;
        }
    }
}