@import '../../index.scss';

.menu {
    position: fixed;
    right: 50px;
    top: 300px;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    border: 1px solid #999;
    padding: 10px 20px;
    border-radius: 30px;

    &__link {
        display: block;
        margin: 20px 0;
    }

    &__link-img {
        width: 15px;
        height: 15px;
        max-height: 24px;
    }
}