@import '../../index.scss';

.hiring {
    padding: 100px 0;

    &__inner {
        margin-left: 200px;
    }

    &__button {
        background-color: $accentColor;
        border: 1px solid $accentColor;
        border-radius: 20px;
        color: #333;
        transition: all .3s ease-in-out;
        padding: 10px 25px;
        margin-top: 50px;

        &:hover {
            background-color: transparent;
            color: $accentColor;
        }
    }

    &__bonus {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 850px;
        margin-top: 50px;
    }

    &__bonus-image {
        max-width: 390px;
        max-height: 390px;
        margin-bottom: 30px;
        border-radius: 20px;
    }

    &__bonus-image-wide {
        max-width: 850px;
        max-height: fit-content;
    }
}

@media (max-width: 950px) {
    .hiring {
        &__bonus-image {
            max-width: 100%;
            max-height: 100%;
        }
    }
}