@import '../../index.scss';

.hiring {
    padding-top: 100px;

    &__button {
        background-color: $accentColor;
        border: 1px solid $accentColor;
        border-radius: 20px;
        color: #333;
        transition: all .3s ease-in-out;
        padding: 10px 25px;
        margin-top: 50px;

        &:hover {
            background-color: #212529;
            color: $accentColor;
        }
    }

    &__bonus {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 850px;
        margin-top: 50px;
    }

    &__bonus-image {
        max-width: 415px;
        max-height: 415px;
        margin-bottom: 30px;
        border-radius: 20px;
    }

    &__bonus-image-wide {
        max-width: 850px;
        max-height: fit-content;
    }
}